ul  li{
	display:inline;
	margin-left:5px;
	margin-right:5px;
	padding:10px;
}

ul {
	background-color:yellow;
	
	padding:10px;
}

a {
	text-decoration:none;
	color:black;
	padding:10px;
	text-align:center;
}

a:hover {
	color:brown;
	background-color:red;
	padding:10px;
}